/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    background-color: #fff;
}
.custom-loader-dialog .mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 12px;
}
.custom-backdrop{
    background-color: rgba(0,0,0,0.5);
}
@media print {
  body * {
    visibility: hidden; /* أخفي كل الصفحة */
  }
  #printDiv, #printDiv * {
    visibility: visible; /* خلي الـ div المراد طباعته فقط ظاهر */
  }
  #printDiv {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;   
    /* height: 297mm;   */
    box-sizing: border-box;
  }
  .pdf-div{
    border: unset !important;
    height:297mm ;
    page-break-before: always

    }
}

