<div class="mt-3"> Pages Count : {{groups.length}}</div>
<div id="printDiv" class=" h-auto m-auto" style="width: 210mm;height:auto" #devContent>

      @if(this.printMode ==1){
        @for (group of groups;track group ) {
          <div class="w-100  pdf-div" style="width: 210mm;height: 297mm;background-color: #fff;display: flex; flex-wrap: wrap; justify-content: space-around;align-items: center;" >
            @for (item of skipTake(data ,((group-1)*4) ,4); track item.qrData) {
              <div class="mt-1" style="width: 100mm; height: 100mm;">
                <ng-container>
                  <app-template [data]="item"  [printMode]="printMode">
                  </app-template>
                </ng-container>
              </div>
            
              }
                @if(skipTake(data ,((group-1)*4) ,4).length%2 ==1){
                <div class="" style="width: 100mm; height: 100mm;"></div>
                }
            </div>
          }
      }

      @if(this.printMode==2)
      {

        @for (group of groups;track group ) {
          <div class="w-100  pdf-div " style="width: 210mm;height: 297mm;background-color: #fff;display: flex; flex-wrap: wrap; justify-content: space-around;align-items: center;" >
            @for (item of skipTake(data ,((group-1)*2) ,2); track item.qrData) {
              <div class="mt-1" style="width: 120mm; height: 120mm;">
                <ng-container>
                  <app-template [data]="item"  [printMode]="printMode">
                  </app-template>
                </ng-container>
              </div>
            
              }
                @if(skipTake(data ,((group-1)*2) ,2).length%2 ==1){
                <div class="" style="width: 120mm; height: 120mm;"></div>
                }
            </div>
          }
        
      }

</div>
