.sticker {
  
  width: 210mm;
  height: 297mm;
  padding: 15px;
  border: 3px solid #1b4a75;
  border-radius: 12px;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  background: #fff;
}

.qr {
  margin-top: 5px;

  width: 70%;
}

.logo {
  width: 30%;
  margin-top: 5px;
}

.code {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  letter-spacing: 1px;
}

.warning-en {
  margin-top: 10px;
  font-size: 16px;
  color: red;
  font-weight: 600;
}

.warning-ar {
  font-size: 14px;
  color: red;
  margin-top: 3px;
  font-weight: 600;
}
