.dropzone {
  width: 100%;
  height: 200px;
  border: 2px dashed #3f51b5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #3f51b5;
  transition: 0.3s;
}

.dropzone.fileover {
  background:#e8eaff;
  border-color:#1a237e;
}
